# MacOS FS
.DS_Store

# VSCode
**/.vscode

# Python
**/__pycache__/
*.py[cod]
# local Python3 virtual env. directories
**/venv/
.python-version
**/dist/
**/build/
**/*.egg-info

# pytest, pytest-cov
.pytest_cache
**/.coverage
